.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 100px auto;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in;
}
.box:hover{
    background-color: aquamarine;
    border-radius: 50%;
    transform: rotate(180deg);
}